// Import theme's compiled CSS
@import '../../../public/theme/css/main.css';

// Override theme's default spacing
.hero {
  min-height: 65vh;
}

#about-details {
    padding: 0px 0;
}

section#about-process {
    padding: 10px;
}

section#about-electrologist {
    padding: 0px 0 40px 0;
}

section#about-faq {
    padding: 10px;
}